header {
  background-color: #eacda3; // Val terug indien afbeelding kapot is
  background-image: url('../assets/images/people_having_fun.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}